.modal-wrapper.active{
  visibility: visible;
  opacity: 1;
}

.modal-wrapper {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-color: rgba(4, 9, 17, 0.8);
  visibility: hidden; 
  opacity: 0;
}

.modal-wrapper .modal {
  width: min(590rem, 90%);
  background-color: var(--white);
  margin: auto;
  font-family: "Poppins";
  text-align: center;
  padding: 64rem;
  border-radius: 8rem;
}

.modal-wrapper .modal .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.modal-wrapper .modal .buttons > button,
.modal-wrapper .modal .buttons > .button {
  padding: 13rem 32rem;
}

.modal-wrapper .modal > h2 {
  font-size: 24rem;
  font-weight: 700;
  margin-bottom: 12rem;
  color: var(--black);
}

.modal-wrapper .modal > p {
  font-size: 16rem;
  margin-bottom: 24rem;
  color: var(--grey-dark);
}

.modal-wrapper .modal form input {
  padding: 13rem 16rem;
  margin-bottom: 40rem;
  border: 2rem solid var(--blue);
  border-radius: 8rem;
  outline: none;
  width: min(302rem, 70%);
}
