<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Rocket.Q</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/home.css" />
  </head>

  <body>
    <div id="home" class="content">
      <header><img src="images/logo.svg" alt="logo" /></header>
      <div id="bg">
        <div class="ball top"></div>
        <div class="ball bottom"></div>
      </div>
      <main>
        <div class="container"><%- include(`partials/${page}`) %></div>
      </main>
    </div>
  </body>
</html>
