<section>
  <h2>Entre como participante</h2>
  <form action="/enter-room" method="POST">
    <label class="sr-only" for="roomId">Código da sala</label>
    <script>
      function onlynumber(evt) {
        var theEvent = evt || window.event;
        var key = theEvent.keyCode || theEvent.which;
        key = String.fromCharCode(key);
        //var regex = /^[0-9.,]+$/;
        var regex = /^[0-9.]+$/;
        if (!regex.test(key)) {
          theEvent.returnValue = false;
          if (theEvent.preventDefault) theEvent.preventDefault();
        }
      }
    </script>
    <input
      id="roomId"
      name="roomId"
      type="text"
      placeholder="Código da sala"
      maxlength="6"
      onkeypress="return onlynumber();"
      autofocus
      required
    />
    <button>
      <img src="/images/enter-room.svg" alt="Entrar na sala" />
      Entrar na sala
    </button>
  </form>
</section>
<div class="separator">
  <div></div>
  <div>ou</div>
  <div></div>
</div>
<section>
  <h2>Crie sua própria sala de FORMS</h2>
  <a href="/create-pass" class="button outlined"
    ><img src="/images/users.svg" alt="Criar sala" />Criar sala</a
  >
</section>
