<section>
  <h2>Entre como participante</h2>
  <form action="" method="GET">
    <label class="sr-only" for="room-id">Código da sala</label>
    <input id="room-id" type="number" placeholder="Código da sala" />
    <button>
      <img src="/images/enter-room.svg" alt="Entrar na sala" />
      Entrar na sala
    </button>
  </form>
</section>
<div class="separator">
  <div></div>
  <div>ou</div>
  <div></div>
</div>
<section>
  <h2>Crie sua própria sala de FORMS</h2>
  <a href="/create-pass" class="button outlined"
    ><img src="/images/users.svg" alt="Criar sala" />Criar sala</a
  >
</section>
